@import '../jam/less/base/variables.less';
@import '../jam/less/base/mixins.less';

html { 
	background: url('../images/bg.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	body {
		.container {
			.inner-container {
	  			max-width: 1000px;
	  			margin: 0 auto;
	  		}

			nav {
				position: fixed;
				width: 100%;
				text-align: center;
				z-index: 1000;
				transition: all 0.5s ease;
				.-col2 {
					padding: 10px 30px;
					a, a:link, a:visited {
						color: #fff;
					}
				}
			}
			
  			.hero-container {
  				height: 100%;
  				width: 100%;
	  			.hero {
	  				position: relative;
	  				top: 50%;
	  				transform: translateY(-50%);
	  				text-align: center;
	  				h1 {
	  					color: #fff;
	  					margin-bottom: 0;
	  					letter-spacing: -2px;
	  				}
	  				h2 {
	  					color: #fff;
	  					font-weight: 300;
	  				}
	  				.logos {
	  					margin-top: 50px;
	  					img {
	  						margin: 25px;
	  						max-width: 10%;
	  						height: auto;
	  					}
	  				}
	  			}
	  		}
	  		
	  		section {
	  			padding: 75px 0;
	  			&#about, &#hiringfair {
	  				background: @color-red;
	  				color: @color-white;
	  				h2 {
	  					color: @color-white;
	  				}
	  			}
	  			&#learn {
	  				background: rgba(255,255,255,0.9);
	  			}
	  			&#quote {
	  				background: @color-white;
	  				img {
	  					width: 150px;
	  					border-radius: 75px;
	  					margin: 50px 25px;
	  				}
	  			}
	  			&#schedule {
	  				background: #fff;
	  				table td {
						border: 1px solid #ccc;
						&.header {
							background: @color-red;
							color: #fff;
						}
						&.no-class {
							color: #ccc;
						}
						&.special {
							background: @color-orange;
							color: #fff;
						}
	  				}
	  			}
	  			&#courses {
	  				background: @backgroundColor-grayLight;
	  				#course-table {
	  					margin-top: 100px;
	  					.course-row {
	  						margin-bottom: 50px;
	  						.-col9 {
	  							padding-left: 25px;
	  						}
  							img {
  								max-width: 200px;
  							}
	  					}
	  				}
	  			}
	  			&#questions {
	  				background: @color-white;
	  			}
	  			&#homework {
	  				background: @color-orange;
	  				color: #fff;
	  				td {
	  					color: #fff;
	  					a:link {
	  						color: #fff;
	  						text-decoration: underline;
	  					}
	  				}
	  			}
	  		}
	  	}
	}
}

@media (max-width: 768px) {
	nav {
		display: none;
	}
	.inner-container {
		padding: 0 15px;
	}
	.hero-container {
		.hero {
			.logos {
				max-width: 100%;
			}
		}
	}
	#courses {
		img {
			text-align: center;
			margin-bottom: 25px;
			margin: 0 auto;
		}
	}
}