@import '../jam/less/base/variables.less';
@import '../jam/less/base/mixins.less';

html { 
	background: url('../images/bg.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	body {
		.container {
			.inner-container {
	  			max-width: 800px;
	  			margin: 0 auto;
	  		}

			nav {
				position: fixed;
				width: 100%;
				text-align: center;
				.-col3 {
					padding: 25px;
					a, a:link, a:visited {
						color: #fff;
					}
				}
			}
			
  			.hero-container {
  				height: 100%;
  				width: 100%;
	  			.hero {
	  				position: relative;
	  				top: 50%;
	  				transform: translateY(-50%);
	  				text-align: center;
	  				h1 {
	  					color: #fff;
	  					font-weight: 600;
	  					margin-bottom: 0;
	  					letter-spacing: 5px;
	  				}
	  				h2 {
	  					color: #fff;
	  				}
	  				.logos {
	  					margin-top: 50px;
	  					img {
	  						height: 50px;
	  					}
	  				}
	  			}
	  		}
	  		
	  		section {
	  			padding: 150px 0;
	  			&#about {
	  				background: @backgroundColor-grayLight;
	  			}
	  		}
	  	}
	}
}